<!-- -*- mode: XML -*- -->

<launch>
    <node pkg="gpsr_pkg" type="param_GPSR.py" name="params"/>
    <node pkg="gpsr_pkg" type="speech_rec_GPSR.py" name="speech_rec" output="screen"/>
    <node pkg="gpsr_pkg" type="sm_GPSR.py" name="sm_GPSR" output="screen"/>
    <node pkg="smach_viewer" type="smach_viewer.py" name="smach_viewer"/>
</launch>
